.captionLink, .captionLink:hover{
    background-color: #49c32c;
}

.header .navbar{
    /*background-color: #49c32c;*/
    /*color : #fff;*/
}

.header .navbar-default .navbar-nav li a{
	/*color: #fff;*/
}

.search-input{
  /*width:500px;*/
  width:370px;
}

.btn-search{
    color:#e0dfdf;
    background-color:#0060b1d4;
    padding: 10px 34px;
}

.btn-search:hover{
    color:white;
    background-color:#0060b1d4;
}

.btn-search:focus{
    color:white;
    background-color:#0060b1d4;
}



.navbar-center{
      margin: 5px 6%;
      display: table;
      table-layout: fixed
}



@media (max-width:1024px){

  .search-input{
    width:350px;
  }

  .navbar-center{
    margin: 10px 0%;
  }

}

@media (max-width:768px){

  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
 .navbar-nav .open .dropdown-menu {
     position: static;
     float: none;
     width: auto;
     margin-top: 0;
     background-color: transparent;
     border: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
  }








  .search-input{
    width:330px;
  }

  .navbar-center{
    margin: 10px 2%;
  }

  .btn-search{
      padding: 10px 24px;
  }

}


@media (max-width:414px){

  .navbar-center{
    margin: 10px 7%;
  }


}


@media (max-width:375px){

  .navbar-center{
    margin: 10px 3%;
  }

}


@media (max-width:320px){

  .search-input{
    width:260px;
  }

  .navbar-center{
    margin: 10px 5%;
  }

}


.header .navbar {
  padding: 5px 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 1px #49c32c;
}
